@tailwind base;
@tailwind components;
@tailwind utilities;

 @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Roboto:wght@300;400;500&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&family=Poppins:wght@300;400;500&display=swap');

 *{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  max-width:1080px;
  margin-inline:auto;
}

img{
  width:100%;
}

body {
  background-color:white;
}

.blurry{
  position:relative;
}

.blurry::before{
  content:"";
  position:absolute;
  inset:0;
  backdrop-filter:blur(5px);
  background-color:rgba(255, 255, 255, 0.6);
  z-index: -1;
}

.threed{
  transform:perspective(1000px) translateZ(-100%);
  transform:scale(90%)
}

.wrapper{
  perspective:100px;
}

.fixed_div{
  backdrop-filter:blur(5px);
  background-color:rgba(255, 255, 255, 0.4) ;
}

.fixed_div:hover .icon_trend{
  background-color:black;
}

.slider_section{
  -webkit-mask-image:linear-gradient(to-right, rgba(0,0,0,0)0%, rgb(0,0,0)8%, rgb(0,0,0)92%, rgba(0,0,0,0)100%);
  overflow:hidden;
}

.h_loop{
  /* max-height:calc(100% - 3rem); */
  overflow:hidden;
}

.grid_auto{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(18rem, 1fr))
}
.grid_auto_features{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(25rem, 1fr))
}

.true{
  position:relative;
}

.true:before{
  content:'true';
  border:1px solid rgba(168, 168, 168, 0.5);
  border-radius:0.25rem;
  padding:2px 5px;
  position:absolute;
  top:50%;
  left:-30%;
  color:#080808;
  font-size:0.7rem;
  transform:translateY(-50%);
  color:green;
  background-color:white;
  
}
.false{
  position:relative;
}

.false:before{
  content:'false';
  border:1px solid rgba(168, 168, 168, 0.5);
  border-radius:0.25rem;
  padding:2px 5px;
  position:absolute;
  top:50%;
  left:-30%;
  color:#080808;
  font-size:0.7rem;
  transform:translateY(-50%);
  color:red;
  background-color:white;
}

.dotted::before{
  content:"";
  inset:0;
  position:absolute;
  opacity:0.2;
  transform:scale(90%);
  background:url("./components/logos/dotted.jpg");
  background-size: cover;
  background-repeat:repeat;
}

@keyframes slider{
  from{
    transform:translateX(0);
  }
  to{
    transform:translateX(-100%);
  }
}

.slide{
  animation:15s slider infinite linear;
}

.slideParent{
  position:relative;
}
.slideParent::before{
  content:'';
  top:0;
  bottom:0;
  left:0;
  width:10rem;
  position:absolute;
  background:linear-gradient(to left, rgba(243, 244, 246, 1), rgb(255, 255, 255))
}
